{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Test
{% endblock %}

{% block body %}
<h1>Welcome to the jungle test!!</h1>

{# Création d'une variable #}
{% set name = 'Thomas' %}
<h2>Hello {{ name }}</h2>

{# Création d'un tableau de couleurs #}
{% set colors = ['blue', 'green', 'yellow', 'red'] %}

{% for color in colors %}
    {% if loop.first %}
        <div>Première couleur</div>
    {% endif %}
    <div style="color: {{ color }}">{{ color }} / {{ loop.index0 }}</div>
{% endfor %}

{% for i in 1..2 %}
    <div>{{ i }}</div>
{% endfor %}

{% set serie = {
    name : 'Arcane',
    year : 2024,
    director : "Riot Games"
} %}

<h3>{{ serie.name }}</h3>
<h3>{{ serie.year }}</h3>
<h3>{{ serie.director }}</h3>

{% for key, val in serie %}
    <div>{{ key }} : {{ val }}</div>
{% endfor %}

{# Quelques filtres #}

<div>{{ name | upper }} : {{ name | length }}</div>
<div>
    {{ colors | join("-") |length }}
</div>

<div>
    {{ 'now' | date("Y-m-d") }}
</div>

{% embed 'test/embed.html.twig' with {"name": name}%}

{% endembed %}

{% endblock %}