{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détail de {{ serie.name }}</h1>
    <section>
        <article class="serie-details">
            <div>
                <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt=" {{ serie.name }}">
            </div>
            <div class="serie-details-infos">
                <div>{{ serie.name }}</div>
                <div>{{ serie.genres }}</div>
                <div>Users rating : {{ serie.vote }}</div>
                <div>Serie status : {{ serie.status }}</div>
                <div>Popularity : {{ serie.popularity }}</div>
                <div>Aired from : {{ serie.firstAirDate | date('Y-m-d') }}
                    to {{ serie.lastAirDate | date('Y-m-d') }}</div>
                <div>{{ serie.overview | nl2br }}</div>
                <div><a href="{{ path('season_add', {'serieId': serie.id}) }}"><button>Add a season</button></a>
                    <a href="{{ path('series_delete', {'id' : serie.id}) }}">
                        <button>Supprimer</button>
                    </a></div>
            </div>
        </article>

        <div>
            {% for season in serie.seasons %}

                <article class="seasons">
                    <div>
                        <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}" alt=" {{ season.serie.name }}">
                    </div>
                    <div>
                        # {{ season.number }}
                    </div>
                    <div>
                        Aired from {{ season.firstAirDate | date('Y-m-d') }}
                    </div>
                    <div>
                        {{ season.overview | nl2br }}
                    </div>
                    <div><a href="{{ path('season_edit', {'id' : season.id}) }}">
                            <button>Update</button>
                        </a>
                        <a href="{{ path('season_delete', {'id' : season.id}) }}">
                            <button>Delete</button>
                        </a></div>
                </article>
            {% endfor %}
        </div>
    </section>


{% endblock %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}

{% block extraStyle %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
            url("{{ asset('img/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}

