<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('series_list') }}">All TV Show</a></li>
        <li><a href="{{ path('series_add') }}">Add a TV Show</a></li>
        <li><a href="{{ path('series_detail', {'id' : 12}) }}">Détails</a></li>
    </ul>
</nav>